.firepad-userlist {
  z-index: 1;
  position: fixed;
  top: 4px;
  right: 3px;
}

.firepad-userlist .emoji {
  vertical-align: -5px;
}

.firepad-userlist-heading {
  display: none;
}

.firepad-userlist-users {
}

.firepad-userlist-users-other {
}

.firepad-userlist-users > .firepad-userlist-user {
  cursor: pointer;
}

.firepad-userlist-user {
  display: block;
  font: 13px/1.5em Consolas, Menlo, monospace;
  margin: 5px;
}

.firepad-userlist-color-indicator {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ccc;
  margin-right: 4px;
  margin-bottom: -1px;
  border: 1px solid rgba(0,0,0,0.1);
}

.firepad-userlist-name {
  display: inline;
  color: rgba(0, 0, 0, 0.8);
}

.color-picker {
    position: absolute;
    width: 120px;
    height: 60px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 3px;
    z-index: 2;
}

.color-picker .swatch {
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
}

.color-picker .swatch:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
}